<div class="row" >
    <div class="col-3"  *ngFor="let item of categorias"  >
        <button class="btn btn-info btn block" (click)="cargarCategorias(item)">
            {{ item }}
        </button>  
    </div>
</div>
<br/>

<div class="row" >
    <div class="col-12 text-center" > 

        <div class="spinner-border text-primary" style="width: 4rem;height:4rem; " *ngIf="cargando" role="status"  >
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<div class="row"  *ngIf="!cargando" >
    <div class="col-3" *ngFor="let item of productos">
        <div class="card doc"  >
            <div class="user-bg">
                <img class="card-img-top" style="width: 100%;max-height: 200px;" src="{{ item.image }}" alt="Card image cap">
            </div>
            <div class="card-body">
            <h5 class="card-title muchotexto">{{ item.title }}</h5>
            <p class="card-text muchotexto">{{ item.description }}</p>
            <button (click)="agregar_carrito(item.id)" href="#" class="btn btn-primary">Agregar {{ item.price }}</button>
            </div>
        </div>
    </div>
</div>
